<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.changmoxi.vhr.mapper.SalaryMapper">
    <resultMap id="BaseResultMap" type="org.changmoxi.vhr.model.Salary">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="basicSalary" property="basicSalary" jdbcType="INTEGER"/>
        <result column="bonus" property="bonus" jdbcType="INTEGER"/>
        <result column="lunchAllowance" property="lunchAllowance" jdbcType="INTEGER"/>
        <result column="transportationAllowance" property="transportationAllowance" jdbcType="INTEGER"/>
        <result column="payableSalary" property="payableSalary" jdbcType="INTEGER"/>
        <result column="pensionBase" property="pensionBase" jdbcType="INTEGER"/>
        <result column="pensionRatio" property="pensionRatio" jdbcType="REAL"/>
        <result column="enableDate" property="enableDate" jdbcType="TIMESTAMP"/>
        <result column="medicalBase" property="medicalBase" jdbcType="INTEGER"/>
        <result column="medicalRatio" property="medicalRatio" jdbcType="REAL"/>
        <result column="accumulationFundBase" property="accumulationFundBase" jdbcType="INTEGER"/>
        <result column="accumulationFundRatio" property="accumulationFundRatio" jdbcType="REAL"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="deleted" property="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , basicSalary, bonus, lunchAllowance, transportationAllowance, payableSalary, pensionBase, pensionRatio,
    enableDate, medicalBase, medicalRatio, accumulationFundBase, accumulationFundRatio, name, deleted
    </sql>

    <select id="getAllSalaries" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from salary where `deleted` = false
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from salary
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from salary
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.changmoxi.vhr.model.Salary">
        insert into salary (id, basicSalary, bonus,
                            lunchAllowance, transportationAllowance, payableSalary,
                            pensionBase, pensionRatio, enableDate,
                            medicalBase, medicalRatio, accumulationFundBase,
                            accumulationFundRatio, name, deleted)
        values (#{id,jdbcType=INTEGER}, #{basicSalary,jdbcType=INTEGER}, #{bonus,jdbcType=INTEGER},
                #{lunchAllowance,jdbcType=INTEGER}, #{transportationAllowance,jdbcType=INTEGER},
                #{payableSalary,jdbcType=INTEGER},
                #{pensionBase,jdbcType=INTEGER}, #{pensionRatio,jdbcType=DOUBLE}, #{enableDate,jdbcType=TIMESTAMP},
                #{medicalBase,jdbcType=INTEGER}, #{medicalRatio,jdbcType=DOUBLE},
                #{accumulationFundBase,jdbcType=INTEGER},
                #{accumulationFundRatio,jdbcType=DOUBLE}, #{name,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="org.changmoxi.vhr.model.Salary">
        insert into salary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="basicSalary != null">
                basicSalary,
            </if>
            <if test="bonus != null">
                bonus,
            </if>
            <if test="lunchAllowance != null">
                lunchAllowance,
            </if>
            <if test="transportationAllowance != null">
                transportationAllowance,
            </if>
            <if test="payableSalary != null">
                payableSalary,
            </if>
            <if test="pensionBase != null">
                pensionBase,
            </if>
            <if test="pensionRatio != null">
                pensionRatio,
            </if>
            <if test="enableDate != null">
                enableDate,
            </if>
            <if test="medicalBase != null">
                medicalBase,
            </if>
            <if test="medicalRatio != null">
                medicalRatio,
            </if>
            <if test="accumulationFundBase != null">
                accumulationFundBase,
            </if>
            <if test="accumulationFundRatio != null">
                accumulationFundRatio,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="basicSalary != null">
                #{basicSalary,jdbcType=INTEGER},
            </if>
            <if test="bonus != null">
                #{bonus,jdbcType=INTEGER},
            </if>
            <if test="lunchAllowance != null">
                #{lunchAllowance,jdbcType=INTEGER},
            </if>
            <if test="transportationAllowance != null">
                #{transportationAllowance,jdbcType=INTEGER},
            </if>
            <if test="payableSalary != null">
                #{payableSalary,jdbcType=INTEGER},
            </if>
            <if test="pensionBase != null">
                #{pensionBase,jdbcType=INTEGER},
            </if>
            <if test="pensionRatio != null">
                #{pensionRatio,jdbcType=DOUBLE},
            </if>
            <if test="enableDate != null">
                #{enableDate,jdbcType=TIMESTAMP},
            </if>
            <if test="medicalBase != null">
                #{medicalBase,jdbcType=INTEGER},
            </if>
            <if test="medicalRatio != null">
                #{medicalRatio,jdbcType=DOUBLE},
            </if>
            <if test="accumulationFundBase != null">
                #{accumulationFundBase,jdbcType=INTEGER},
            </if>
            <if test="accumulationFundRatio != null">
                #{accumulationFundRatio,jdbcType=DOUBLE},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.changmoxi.vhr.model.Salary">
        update salary
        <set>
            <if test="basicSalary != null">
                basicSalary = #{basicSalary,jdbcType=INTEGER},
            </if>
            <if test="bonus != null">
                bonus = #{bonus,jdbcType=INTEGER},
            </if>
            <if test="lunchAllowance != null">
                lunchAllowance = #{lunchAllowance,jdbcType=INTEGER},
            </if>
            <if test="transportationAllowance != null">
                transportationAllowance = #{transportationAllowance,jdbcType=INTEGER},
            </if>
            <if test="payableSalary != null">
                payableSalary = #{payableSalary,jdbcType=INTEGER},
            </if>
            <if test="pensionBase != null">
                pensionBase = #{pensionBase,jdbcType=INTEGER},
            </if>
            <if test="pensionRatio != null">
                pensionRatio = #{pensionRatio,jdbcType=DOUBLE},
            </if>
            <if test="enableDate != null">
                enableDate = #{enableDate,jdbcType=TIMESTAMP},
            </if>
            <if test="medicalBase != null">
                medicalBase = #{medicalBase,jdbcType=INTEGER},
            </if>
            <if test="medicalRatio != null">
                medicalRatio = #{medicalRatio,jdbcType=DOUBLE},
            </if>
            <if test="accumulationFundBase != null">
                accumulationFundBase = #{accumulationFundBase,jdbcType=INTEGER},
            </if>
            <if test="accumulationFundRatio != null">
                accumulationFundRatio = #{accumulationFundRatio,jdbcType=DOUBLE},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.changmoxi.vhr.model.Salary">
        update salary
        set basicSalary             = #{basicSalary,jdbcType=INTEGER},
            bonus                   = #{bonus,jdbcType=INTEGER},
            lunchAllowance          = #{lunchAllowance,jdbcType=INTEGER},
            transportationAllowance = #{transportationAllowance,jdbcType=INTEGER},
            payableSalary           = #{payableSalary,jdbcType=INTEGER},
            pensionBase             = #{pensionBase,jdbcType=INTEGER},
            pensionRatio            = #{pensionRatio,jdbcType=DOUBLE},
            enableDate              = #{enableDate,jdbcType=TIMESTAMP},
            medicalBase             = #{medicalBase,jdbcType=INTEGER},
            medicalRatio            = #{medicalRatio,jdbcType=DOUBLE},
            accumulationFundBase    = #{accumulationFundBase,jdbcType=INTEGER},
            accumulationFundRatio   = #{accumulationFundRatio,jdbcType=DOUBLE},
            name                    = #{name,jdbcType=VARCHAR},
            deleted                 = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>