<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.changmoxi.vhr.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="org.changmoxi.vhr.model.Employee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="idCard" property="idCard" jdbcType="CHAR"/>
        <result column="wedlock" property="wedlock" jdbcType="CHAR"/>
        <result column="nationId" property="nationId" jdbcType="INTEGER"/>
        <result column="nativePlace" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="politicsId" property="politicsId" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="departmentId" property="departmentId" jdbcType="INTEGER"/>
        <result column="jobLevelId" property="jobLevelId" jdbcType="INTEGER"/>
        <result column="positionId" property="positionId" jdbcType="INTEGER"/>
        <result column="engageForm" property="engageForm" jdbcType="VARCHAR"/>
        <result column="highestDegree" property="highestDegree" jdbcType="CHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="employmentDate" property="employmentDate" jdbcType="DATE"/>
        <result column="workStatus" property="workStatus" jdbcType="CHAR"/>
        <result column="workId" property="workId" jdbcType="CHAR"/>
        <result column="contractTerm" property="contractTerm" jdbcType="DOUBLE"/>
        <result column="conversionDate" property="conversionDate" jdbcType="DATE"/>
        <result column="dimissionDate" property="dimissionDate" jdbcType="DATE"/>
        <result column="beginContractDate" property="beginContractDate" jdbcType="DATE"/>
        <result column="endContractDate" property="endContractDate" jdbcType="DATE"/>
        <result column="seniority" property="seniority" jdbcType="INTEGER"/>
        <result column="deleted" property="deleted" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="AllEmployeeInfo" type="org.changmoxi.vhr.model.Employee" extends="BaseResultMap">
        <!--复杂属性的映射需要另外处理，对象(一对一)用association-->
        <association property="nation" javaType="org.changmoxi.vhr.model.Nation">
            <id column="nId" property="id" jdbcType="INTEGER"/>
            <result column="nName" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="politicsStatus" javaType="org.changmoxi.vhr.model.PoliticsStatus">
            <id column="pId" property="id" jdbcType="INTEGER"/>
            <result column="pName" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="department" javaType="org.changmoxi.vhr.model.Department">
            <id column="dId" property="id" jdbcType="INTEGER"/>
            <result column="dName" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="jobLevel" javaType="org.changmoxi.vhr.model.JobLevel">
            <id column="jId" property="id" jdbcType="INTEGER"/>
            <result column="jName" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="position" javaType="org.changmoxi.vhr.model.Position">
            <id column="posId" property="id" jdbcType="INTEGER"/>
            <result column="posName" property="name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicsId, email,
    phone, address, departmentId, jobLevelId, positionId, engageForm, highestDegree, major,
    school, employmentDate, workStatus, workId, contractTerm, conversionDate, dimissionDate,
    beginContractDate, endContractDate, seniority, deleted
    </sql>

    <select id="getEmployees" resultMap="AllEmployeeInfo">
        select e.`id`,
        e.`name`,
        e.`gender`,
        e.`birthday`,
        e.`idCard`,
        e.`wedlock`,
        e.`nationId`,
        e.`nativePlace`,
        e.`politicsId`,
        e.`email`,
        e.`phone`,
        e.`address`,
        e.`departmentId`,
        e.`jobLevelId`,
        e.`positionId`,
        e.`engageForm`,
        e.`highestDegree`,
        e.`major`,
        e.`school`,
        e.`employmentDate`,
        e.`workStatus`,
        e.`workId`,
        e.`contractTerm`,
        e.`conversionDate`,
        e.`dimissionDate`,
        e.`beginContractDate`,
        e.`endContractDate`,
        e.`seniority`,
        e.`deleted`,
        n.`id` nId,
        n.`name` nName,
        p.`id` pId,
        p.`name` pName,
        d.`id` dId,
        d.`name` dName,
        j.`id` jId,
        j.`name` jName,
        pos.`id` posId,
        pos.`name` posName
        from employee e
        inner join nation n on e.`nationId` = n.`id`
        inner join politicsstatus p on e.`politicsId` = p.`id`
        inner join department d on e.`departmentId` = d.`id`
        inner join joblevel j on e.`jobLevelId` = j.`id`
        inner join position pos on e.`positionId` = pos.`id`
        <where>
            and e.`deleted` = false
            <if test="keywords != null and keywords != ''">
                and e.`name` like CONCAT('%',#{keywords},'%')
            </if>
        </where>
    </select>

    <select id="getMaxWorkId" resultType="java.lang.Integer">
        select MAX(`workId`)
        from employee
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from employee
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from employee
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.changmoxi.vhr.model.Employee">
        insert into employee (id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicsId, email,
                              phone, address, departmentId, jobLevelId, positionId, engageForm, highestDegree, major,
                              school, employmentDate, workStatus, workId, contractTerm, conversionDate, dimissionDate,
                              beginContractDate, endContractDate, seniority, deleted)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR},
                #{birthday,jdbcType=DATE}, #{idCard,jdbcType=CHAR}, #{wedlock,jdbcType=CHAR},
                #{nationId,jdbcType=INTEGER},
                #{nativePlace,jdbcType=VARCHAR}, #{politicsId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER},
                #{jobLevelId,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, #{engageForm,jdbcType=VARCHAR},
                #{highestDegree,jdbcType=CHAR}, #{major,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR},
                #{employmentDate,jdbcType=DATE}, #{workStatus,jdbcType=CHAR}, #{workId,jdbcType=CHAR},
                #{contractTerm,jdbcType=DOUBLE}, #{conversionDate,jdbcType=DATE}, #{dimissionDate,jdbcType=DATE},
                #{beginContractDate,jdbcType=DATE}, #{endContractDate,jdbcType=DATE}, #{seniority,jdbcType=INTEGER},
                #{deleted,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="org.changmoxi.vhr.model.Employee">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="idCard != null">
                idCard,
            </if>
            <if test="wedlock != null">
                wedlock,
            </if>
            <if test="nationId != null">
                nationId,
            </if>
            <if test="nativePlace != null">
                nativePlace,
            </if>
            <if test="politicsId != null">
                politicsId,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="departmentId != null">
                departmentId,
            </if>
            <if test="jobLevelId != null">
                jobLevelId,
            </if>
            <if test="positionId != null">
                positionId,
            </if>
            <if test="engageForm != null">
                engageForm,
            </if>
            <if test="highestDegree != null">
                highestDegree,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="employmentDate != null">
                employmentDate,
            </if>
            <if test="workStatus != null">
                workStatus,
            </if>
            <if test="workId != null">
                workId,
            </if>
            <if test="contractTerm != null">
                contractTerm,
            </if>
            <if test="conversionDate != null">
                conversionDate,
            </if>
            <if test="dimissionDate != null">
                dimissionDate,
            </if>
            <if test="beginContractDate != null">
                beginContractDate,
            </if>
            <if test="endContractDate != null">
                endContractDate,
            </if>
            <if test="seniority != null">
                seniority,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=CHAR},
            </if>
            <if test="wedlock != null">
                #{wedlock,jdbcType=CHAR},
            </if>
            <if test="nationId != null">
                #{nationId,jdbcType=INTEGER},
            </if>
            <if test="nativePlace != null">
                #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="politicsId != null">
                #{politicsId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="jobLevelId != null">
                #{jobLevelId,jdbcType=INTEGER},
            </if>
            <if test="positionId != null">
                #{positionId,jdbcType=INTEGER},
            </if>
            <if test="engageForm != null">
                #{engageForm,jdbcType=VARCHAR},
            </if>
            <if test="highestDegree != null">
                #{highestDegree,jdbcType=CHAR},
            </if>
            <if test="major != null">
                #{major,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="employmentDate != null">
                #{employmentDate,jdbcType=DATE},
            </if>
            <if test="workStatus != null">
                #{workStatus,jdbcType=CHAR},
            </if>
            <if test="workId != null">
                #{workId,jdbcType=CHAR},
            </if>
            <if test="contractTerm != null">
                #{contractTerm,jdbcType=DOUBLE},
            </if>
            <if test="conversionDate != null">
                #{conversionDate,jdbcType=DATE},
            </if>
            <if test="dimissionDate != null">
                #{dimissionDate,jdbcType=DATE},
            </if>
            <if test="beginContractDate != null">
                #{beginContractDate,jdbcType=DATE},
            </if>
            <if test="endContractDate != null">
                #{endContractDate,jdbcType=DATE},
            </if>
            <if test="seniority != null">
                #{seniority,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.changmoxi.vhr.model.Employee">
        update employee
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="idCard != null">
                idCard = #{idCard,jdbcType=CHAR},
            </if>
            <if test="wedlock != null">
                wedlock = #{wedlock,jdbcType=CHAR},
            </if>
            <if test="nationId != null">
                nationId = #{nationId,jdbcType=INTEGER},
            </if>
            <if test="nativePlace != null">
                nativePlace = #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="politicsId != null">
                politicsId = #{politicsId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                departmentId = #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="jobLevelId != null">
                jobLevelId = #{jobLevelId,jdbcType=INTEGER},
            </if>
            <if test="positionId != null">
                positionId = #{positionId,jdbcType=INTEGER},
            </if>
            <if test="engageForm != null">
                engageForm = #{engageForm,jdbcType=VARCHAR},
            </if>
            <if test="highestDegree != null">
                highestDegree = #{highestDegree,jdbcType=CHAR},
            </if>
            <if test="major != null">
                major = #{major,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="employmentDate != null">
                employmentDate = #{employmentDate,jdbcType=DATE},
            </if>
            <if test="workStatus != null">
                workStatus = #{workStatus,jdbcType=CHAR},
            </if>
            <if test="workId != null">
                workId = #{workId,jdbcType=CHAR},
            </if>
            <if test="contractTerm != null">
                contractTerm = #{contractTerm,jdbcType=DOUBLE},
            </if>
            <if test="conversionDate != null">
                conversionDate = #{conversionDate,jdbcType=DATE},
            </if>
            <if test="dimissionDate != null">
                dimissionDate = #{dimissionDate,jdbcType=DATE},
            </if>
            <if test="beginContractDate != null">
                beginContractDate = #{beginContractDate,jdbcType=DATE},
            </if>
            <if test="endContractDate != null">
                endContractDate = #{endContractDate,jdbcType=DATE},
            </if>
            <if test="seniority != null">
                seniority = #{seniority,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.changmoxi.vhr.model.Employee">
        update employee
        set name              = #{name,jdbcType=VARCHAR},
            gender            = #{gender,jdbcType=CHAR},
            birthday          = #{birthday,jdbcType=DATE},
            idCard            = #{idCard,jdbcType=CHAR},
            wedlock           = #{wedlock,jdbcType=CHAR},
            nationId          = #{nationId,jdbcType=INTEGER},
            nativePlace       = #{nativePlace,jdbcType=VARCHAR},
            politicsId        = #{politicsId,jdbcType=INTEGER},
            email             = #{email,jdbcType=VARCHAR},
            phone             = #{phone,jdbcType=VARCHAR},
            address           = #{address,jdbcType=VARCHAR},
            departmentId      = #{departmentId,jdbcType=INTEGER},
            jobLevelId        = #{jobLevelId,jdbcType=INTEGER},
            positionId        = #{positionId,jdbcType=INTEGER},
            engageForm        = #{engageForm,jdbcType=VARCHAR},
            highestDegree     = #{highestDegree,jdbcType=CHAR},
            major             = #{major,jdbcType=VARCHAR},
            school            = #{school,jdbcType=VARCHAR},
            employmentDate    = #{employmentDate,jdbcType=DATE},
            workStatus        = #{workStatus,jdbcType=CHAR},
            workId            = #{workId,jdbcType=CHAR},
            contractTerm      = #{contractTerm,jdbcType=DOUBLE},
            conversionDate    = #{conversionDate,jdbcType=DATE},
            dimissionDate     = #{dimissionDate,jdbcType=DATE},
            beginContractDate = #{beginContractDate,jdbcType=DATE},
            endContractDate   = #{endContractDate,jdbcType=DATE},
            seniority         = #{seniority,jdbcType=INTEGER},
            deleted           = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>