<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.changmoxi.vhr.mapper.MenuRoleMapper">
    <resultMap id="BaseResultMap" type="org.changmoxi.vhr.model.MenuRole">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="mid" property="mId" jdbcType="INTEGER"/>
        <result column="rid" property="rId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , mid, rid, enabled
    </sql>

    <select id="getEnabledMidsByRid" resultType="java.lang.Integer">
        select mid
        from menu_role
        where rid = #{rId}
          and enabled = true
    </select>

    <select id="getAllMidsByRid" resultType="java.lang.Integer">
        select mid
        from menu_role
        where rid = #{rId}
    </select>

    <update id="batchEnableOrDisableMenuRoles">
        update menu_role
        <set>
            <trim prefix="enabled = case">
                <foreach collection="mids" item="mId">
                    <if test="mId != null and enable">
                        when mid = #{mId} then 1
                    </if>
                    <if test="mId != null and !enable">
                        when mid = #{mId} then 0
                    </if>
                </foreach>
                <if test="enable">
                    else 0 end
                </if>
                <if test="!enable">
                    else 1 end
                </if>
            </trim>
        </set>
        <where>
            <if test="rId != null">
                rid = #{rId}
            </if>
        </where>
    </update>

    <insert id="insertMenuRoles">
        insert into menu_role (mid, rid) values
        <foreach collection="mids" item="mId" separator=",">
            (#{mId}, #{rId})
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from menu_role
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from menu_role
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.changmoxi.vhr.model.MenuRole">
        insert into menu_role (id, mid, rid, enabled)
        values (#{id,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER}, #{enabled,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="org.changmoxi.vhr.model.MenuRole">
        insert into menu_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mId != null">
                mid,
            </if>
            <if test="rId != null">
                rid,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="mId != null">
                #{mId,jdbcType=INTEGER},
            </if>
            <if test="rId != null">
                #{rId,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.changmoxi.vhr.model.MenuRole">
        update menu_role
        <set>
            <if test="mId != null">
                mid = #{mId,jdbcType=INTEGER},
            </if>
            <if test="rId != null">
                rid = #{rId,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.changmoxi.vhr.model.MenuRole">
        update menu_role
        set mid     = #{mId,jdbcType=INTEGER},
            rid     = #{rId,jdbcType=INTEGER},
            enabled = #{enabled,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>